<h1>Listing mayors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mayors.each do |mayor| %>
      <tr>
        <td><%= mayor.name %></td>
        <td><%= mayor.age %></td>
        <td><%= link_to 'Show', mayor %></td>
        <td><%= link_to 'Edit', edit_mayor_path(mayor) %></td>
        <td><%= link_to 'Destroy', mayor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mayor', new_mayor_path %>
