<p id="notice"><%= notice %></p>

In <%= @city.name %>, 

there are
  <%= @city.population %>
people and the mayor is <%= @city.mayor_name %>

<div>
<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
</div>
